@mixin clearfix {
    &::after {
        content: "";
        display: block;
        clear: both;
    }
}

@mixin btn($height, $background, $color) {
    height: $height;
    border-radius: 2px;
    background-color: $background;
    color: $color;
    text-align: center;
    line-height: $height;
}
