@mixin input-item($width: 100%) {
  border-bottom: 1px solid $color-black;
  border-style: none;
  font-size: inherit;
  margin-bottom: 4px;
  outline-style: none;
  padding: 8px 0;
  width: $width;

  &::placeholder {
    opacity: 0.5;
  }
}

@mixin input-errmsg {
  color: $color-red;
  font-size: 0.8em;
  text-align: left;
}
