$color-green: #3c0;
$color-grey: #262626;
$color-white: #f2f2f2;
$color-black: #000;

$color-bg: $color-white;
$color-bg-darker: $color-white;
$color-font: $color-black;
$color-font-darker: #7094db;

$color-success: $color-green;
$color-err: #ff944d;

// ----------------------------------------------

$color-primary: #0a1e3d;
$color-error: #db351f;
$color-disabled: #e6e8eb;

$color-background: #fff;
$color-background-lv2: #e6e8eb;

$color-border: #0a1e3d;

$color-font-normal: #0a1e3db3;
$color-font-light: #9fa5b1;
$color-font-white: #fff;

$color-black: #000;
$color-white: #fff;
