// TODO: a fancier transition.
.v-enter-active {
  animation: bounce-in 0.3s;
}
.v-leave-active {
  animation: bounce-in 0.3s reverse;
}

@keyframes bounce-in {
  0% {
    display: none;
    transform: scale(0);
  }
  100% {
    display: unset;
    transform: scale(1);
  }
}
