$color-green: #3c0;
$color-grey: #262626;
$color-white: #f2f2f2;
$color-black: #000;

$color-bg: $color-white;
$color-bg-darker: $color-white;
$color-font: $color-black;
$color-font-darker: #7094db;

$color-success: $color-green;
$color-err: #ff944d;

$font-size-bg: 24px;
$font-size-normal: 16px;
$font-size-sm: 12px;

$normal-spacing: 20px;
$common-transition: 0.3s ease;
