$color-green: #33cc00;
$color-grey: #262626;
$color-white: #f2f2f2;
$color-black: #000000;

$color-bg: #204060;
$color-bg-darker: #19334d;

$color-font: $color-white;
$color-font-darker: #7094db;

$font-size-xs: 16px;
$font-size-md: 20px;

$common-transition: 0.3s ease;
